.home-container {
    position: relative;
    width: 100%;
    height: 85vh; /* Full viewport height */
    background-image: url('https://e0.pxfuel.com/wallpapers/846/344/desktop-wallpaper-portfolio.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important; /* Text color */
    text-align: center;
  }
  
  .overlay-text {
    padding: 2rem;
    border-radius: 8px;
  }
  
  .overlay-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white !important;
    font-family: inherit;
  }
  
  .overlay-text p {
    font-size: 1.5rem;
    color: white !important;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: inline-block; /* Ensures the padding and background fit tightly around the text */
    font-family: inherit;
  }
  
  .overlay-text .btn {
    font-size: 1.2rem;
    width: auto;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem; /* Adds some spacing above the button */
  }
  
  .btn {
    background-color: black !important;
    border-color: white !important;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }
  
  .btn:hover {
    background-color: white !important;
    color: black !important;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .overlay-text h1 {
        font-size: 2.5rem;
    }
  
    .overlay-text p {
        font-size: 1.3rem;
    }
  
    .overlay-text .btn {
        font-size: 1.1rem;
    }
  }
  
  @media (max-width: 992px) {
    .overlay-text h1 {
        font-size: 2rem;
    }
  
    .overlay-text p {
        font-size: 1.2rem;
    }
  
    .overlay-text .btn {
        font-size: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .overlay-text h1 {
        font-size: 1.8rem;
    }
  
    .overlay-text p {
        font-size: 1rem;
    }
  
    .overlay-text .btn {
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
    }
  }
  
  @media (max-width: 576px) {
    
    .overlay-text {
        padding: 1rem;
    }
  
    .overlay-text h1 {
        font-size: 1.5rem;
    }
  
    .overlay-text p {
        font-size: 0.9rem;
    }
  
    .overlay-text .btn {
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
    }
  }